fieldset.days {
    display: flex;
    flex-direction: column;
}

.daysHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #7EDC0050;
    gap: 0.5rem;
}

.addDayButton {
    font-weight: 700;
    border-radius: 0.5rem;
    transition: 0.2s;
    border: none;
    background-color: #7EDC00;
    color: #3e4c55;
    padding: 0.25rem;
    height: 60%;
    align-self: center;
}

.addDayButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addDayButton:active {
    transform: translateY(1px);
}

.navDays {
    flex: 1;
    min-width: 0;
    width: 0;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
}

.navDays {

}

.navDays::-webkit-scrollbar {
    height: 6px;
}

.navDays::-webkit-scrollbar-track {
    background: transparent;
}

.navDays::-webkit-scrollbar-thumb {
    background: #b5b6ba;
    border-radius: 8px;
}


.navDays > b {
    color: rgba(0, 0, 0, 0.6);
    padding-inline: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-weight: 500;
    transition: color 0.2s;
    cursor: pointer;
    flex-shrink: 0;
}

.navDays > b:hover {
    color: #000;
    border-bottom: 2px solid #7EDC00;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mealFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.mealForm {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
}

.mealInput {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: 1px solid #d1d5db;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #455666;
}

.backArrow{
    border: none;
    font-size: 1rem;
    transition: 0.2s;
}

.backArrow:hover {
    transform: translateY(-4px);
}

.backArrow:active {
    transform: translateY(2px);
}

.addMealButton {
    font-weight: 700;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
    background-color: #a8da8f;
    color: #3e4c55;
    transition: 0.2s;
    align-self: center;
}

.addMealButton:hover {
    background-color: #7EDC00;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addMealButton:active {
    transform: translateY(1px);
}

.addMealButtonLarge {
    width: 100%;
    transition: 0.2s;
}

.daySummary {
    border: 2px solid #E7E7E7;
    border-radius: 12px;
    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    margin-bottom: 30%;
}