.mealSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 2px solid #E7E7E7;
    padding: 0.5rem 1rem 1rem;
}

.mealContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.lastMeal{
    padding-bottom: 0;
    border-bottom: none;
}

.mealMeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.mealTitle {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.mealNotes {
    color: #455666;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: fit-content;
    white-space: normal;
    text-align: right;
    flex: 0 1 auto;
}

.mealInfo {
    padding-right: 1rem;
    margin-left: auto;
    display: flex;
}

.mealMacros {
    width: 100%;
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between;
}

