.mealSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 2px solid #E7E7E7;
    padding: 0.5rem 1rem 1rem;
}

.mealContainer {
    display: flex;
    justify-content: space-between;
}

.lastMeal{
    padding-bottom: 0;
    border-bottom: none;
}

.mealContainer > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.mealTitle {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 45%;
}

.mealNotes {
    color: #455666;
    max-width: 100%;
    overflow-wrap: break-word;
}

.mealInfo {
    padding-right: 1rem;
    margin-left: auto;
    display: flex;
}

