.planCreatorBody{
    width: 87%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    color: #11280c;
    gap: 4rem;
    align-self: center;
    min-width: 0;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    min-width: 0;
}

fieldset {
    border: 0;
}

fieldset.metaData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset.metaData > legend{
    margin-bottom: 2rem;
    font-size: 1.875rem;
    line-height: 1.875rem;
    font-weight: 700;
}

fieldset.metaData > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;

}

select.patient, input.title, textarea.description {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #455666;
    font-size: 1rem;
    max-width: 100%;
}

select.patient {
    width: 50%;
}

input.title {
    width: 100%;
}

textarea.description {
    resize: none;

}








