.patientsBody{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.patientsBody > a {
    text-decoration: none;
    cursor: pointer;
    color: #0D1309;
    font-weight: 600;
}
.patientsBody > a:visited {
    text-decoration: none;
    color: #0D1309;
}

.formSection {
    display: flex;
    justify-content: center;
}

.patientForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.formGroup {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    width: 64rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    gap: 0.5rem;
}

.inputGroup:focus-within > label {
    font-weight: 800;
}

.inputGroup > label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.inputGroup > input, .inputGroup > select {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.625rem;
    border: 1px solid rgba(126, 220, 0, 0.3);
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.inputGroup > input:focus, .inputGroup > select:focus {
    outline: none;
    border: 1px solid rgba(126, 220, 0, 0.3);
    box-shadow: 0 0 4px rgba(126, 220, 0, 0.65);
}

.inputGroup > select {
    appearance: none; /* Disable the default arrow */
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

.patientSubmit{
    width: 15rem;
    align-self: end;
}

.patientsSection {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tableCaption{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tableCaption > * {
    min-width: 10rem;
}

.message {
    color: red;
}

.patientsTable {
    background-color: #ffffff;
    width: 92rem;
    text-align: left;
    box-sizing: border-box;
    border-radius: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #121A0D;
    margin-block: 2.25rem;
}

.patientsTable > thead > tr > th{
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.patientsTable > thead > tr > th:last-of-type, .patientsTable > tbody > tr > td:last-of-type{
    text-align: right;
}

.patientsTable > thead > tr > th:first-of-type{
    border-top-left-radius: 16px;
}

.patientsTable > thead > tr > th:last-of-type{
    border-top-right-radius: 16px;
}

.patientsTable > thead {
    background-color: #EAF2E6;
}

.patientsTable > thead > tr{
    height: 3.25rem;
}

.patientsTable > tbody > tr{
    height: 4.75rem;
    border-top: 1px solid #D6E5CE;
}

.patientsTable > tbody > tr:first-of-type{
    border-top: none;
}

.patientsTable > tbody > tr > td{
    padding: 0 1rem;
    font-size: 1rem;
}

.optionsRow {
    height: 100%;
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.buttonContainer{
    width: 64rem;
    display: flex;
    justify-content: end;
}

.addPatientButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.75rem;
    color: #121A0D;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    background-color: #7EDC00;
    line-height: 1.5rem;
    border-radius: 10rem;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.addPatientButton:hover {
    background-color: #6bc400;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addPatientButton:active {
    background-color: #5aa800;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.patientsInfoNav {
    width: 92rem;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    border-bottom: 1px solid #7EDC0033;
}

.patientsInfoNav > a {
    color: rgba(0, 0, 0, 0.6);
    padding-inline: 1rem;
    height: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-weight: 500;

}

.patientsInfoNav > a:hover {
    color: #000;
    border-bottom: 2px solid #7EDC00;
}

.title {
    align-self: start;
    margin: 0;
    padding: 0;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: #f1efef;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    color: #121A0D;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 1.5rem;
    z-index: 1000;
}

.alert span {
    font-size: 1.4rem;
}

.alert b {
    color: #ff4d4d;
}

.alert div {
    display: flex;
    gap: 1rem;
}

.alert button {
    width: 3.5rem;
    height: 2.25rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
}

.alert button:first-child {
    background-color: #f1efef;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
}

.alert button:first-child:hover {
    background-color: #ff4d4d;
    color: #f1efef;
}

.alert button:last-child {
    background-color: #e1dede;
    color: #333;
}

.alert button:last-child:hover {
    background-color: #c8c6c6;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    backdrop-filter: blur(0.5rem);
}









