.settingsBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.settingsBody > form {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.settingsInput {
    width: inherit;
}
