.mainBody{
    width: 100vw;
    height: 100vh;
    background-color: #f1efef;
    font-family: "Inter", sans-serif;
    display: flex;
}

.navBar{
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-right: 2px solid #E7E7E7;
    padding: 1rem;
    gap: 0.5rem;
}

.navBar > * {
    cursor: pointer;
    border: none;
    color: #455666;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.navBar > * > i {
    font-size: 1.5rem;
}

.navBar > *:hover {
    color: #39513d;
    background-color: rgba(126, 220, 0, 0.2);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #E7E7E7;
    padding: 1rem 2rem;
}

.container > header > i {
    font-weight: 100;
    font-size: 3rem;
    line-height: 1;
}


