* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f1efef;
    font-family: "Inter", sans-serif;
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.spinner {
    align-self: center;
    justify-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 4rem;
    height: 4rem;
}

.spinner i {
    font-size: 3rem;
    line-height: 100%;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to   { transform: rotate(360deg); }
}

a, a:active, a:visited, a:focus{
    text-decoration: none;
}

button.clearButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.cardsSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    /*padding: 2rem;*/
}

.cardsSection > div {
    width: 31.875rem;
    max-width: 31.875rem;
    height: 6.875rem;
    border: 2px solid #E7E7E7;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}

.cardsSection > div > p{
    line-height: 1.5rem;
    font-size: 1.125rem;
    color: #3d4d5c;
}

.cardsSection > div > h1{
    font-size: 2rem;
    line-height: 2rem;
    color: #0C1828;
    font-weight: 700;
}

