* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f1efef;
    font-family: "Inter", sans-serif;
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.spinner {
    align-self: center;
    justify-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 4rem;
    height: 4rem;
}

.spinner i {
    font-size: 3rem;
    line-height: 100%;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to   { transform: rotate(360deg); }
}

a, a:active, a:visited, a:focus{
    text-decoration: none;
}

button.clearButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.cardsSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    /*padding: 2rem;*/
}

.card {
    width: 31.875rem;
    max-width: 31.875rem;
    height: 6.875rem;
    border: 2px solid #E7E7E7;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1.5rem;
}

.card > span{
    line-height: 1.5rem;
    font-size: 1.125rem;
    color: #3d4d5c;
}

.card > h1{
    font-size: 2rem;
    line-height: 2rem;
    color: #0C1828;
    font-weight: 700;
}

.card.big {
    height: 12rem;
    justify-content: space-between;
    padding-block: 1.5rem;

}

.bmiBar {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    background-image: linear-gradient(
            to right,
            #ffe900 0%,
            #ffe900 23.33%,
            #7EDC00 33.33%,
            #7EDC00 45%,
            #ffe900 55%,
            #ff9d00 65.67%,
            #dd0008 75.67%,
            #dd0008  100%
    );
}

.bmiMarker {
    position: absolute; /* ⬅️ zamiast relative */
    top: -4px; /* ustawienie nad paskiem */
    /*transform: translateX(-50%) rotateX(180deg);*/
    background-color: #1b2913;
    width: 0.375rem;
    height: 1.5rem;
    border-radius: 3px;
    transition: 1s ease-out;
}


